<template>
  <div class="container">
    <nav>
      <ul class="nav nav-justified">
        <li><router-link :to="{ name: 'ArticleList' }">Articles</router-link></li>
        <li><router-link :to="{ name: 'WebPageList' }">Web pages</router-link></li>
      </ul>
    </nav>

    <div>
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
export default {
  name: 'App',
};
</script>

<style>
</style>
