<template>
  <div>
    <h1>New WebPage</h1>

    <div v-if="loading" class="alert alert-info" role="status">Loading...</div>
    <div v-if="error" class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{ error }}</div>

    <WebPageForm :handle-submit="create" :values="item" :errors="violations"></WebPageForm>
    <router-link :to="{ name: 'WebPageList' }" class="btn btn-default">Back to list</router-link>
  </div>
</template>

<script>
import { createNamespacedHelpers } from 'vuex';
import WebPageForm from './Form';

const { mapGetters } = createNamespacedHelpers('webpage/create');

export default {
  components: {
    WebPageForm,
  },
  data() {
    return {
      item: {},
    };
  },
  computed: mapGetters(['error', 'loading', 'created', 'violations']),
  methods: {
    create(item) {
      this.$store.dispatch('webpage/create/create', item);
    },
  },
  watch: {
    created(created) {
      if (created) {
        this.$router.push({
          name: 'WebPageUpdate',
          params: { id: created['@id'] },
        });
      }
    },
  },
};
</script>
