<template>
  <form @submit.prevent="handleSubmit(item)">
    <div :class="{ 'form-group': true, 'has-error': (errors && errors.url) }">
      <label for="_url" class="control-label">url</label>
      <input v-model="item.url" type="url"  placeholder="URL of the item" required="true" id="_url" class="form-control" />
      <span v-if="errors && errors.url" class="help-block" id="_url_helpBlock">{{ errors.url }}</span>
    </div>
    <div :class="{ 'form-group': true, 'has-error': (errors && errors.headline) }">
      <label for="_headline" class="control-label">headline</label>
      <input v-model="item.headline" type="text"  placeholder="headline of the article"  id="_headline" class="form-control" />
      <span v-if="errors && errors.headline" class="help-block" id="_headline_helpBlock">{{ errors.headline }}</span>
    </div>
    <div :class="{ 'form-group': true, 'has-error': (errors && errors.accountablePerson) }">
      <label for="_accountablePerson" class="control-label">accountablePerson</label>
      <input v-model="item.accountablePerson" type="text"  placeholder="specifies the Person that is legally accountable for the CreativeWork"  id="_accountablePerson" class="form-control" />
      <span v-if="errors && errors.accountablePerson" class="help-block" id="_accountablePerson_helpBlock">{{ errors.accountablePerson }}</span>
    </div>
    <div :class="{ 'form-group': true, 'has-error': (errors && errors.dateCreated) }">
      <label for="_dateCreated" class="control-label">dateCreated</label>
      <input v-model="item.dateCreated" type="text"  placeholder="the date on which the CreativeWork was created or the item was added to a DataFeed" required="true" id="_dateCreated" class="form-control" />
      <span v-if="errors && errors.dateCreated" class="help-block" id="_dateCreated_helpBlock">{{ errors.dateCreated }}</span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</template>

<script>
export default {
  props: {
    handleSubmit: {
      type: Function,
      required: true,
    },
    values: {
      type: Object,
      required: true,
    },
    errors: {
      type: Object,
    },
    initialValues: {
      type: Object,
    },
  },
  computed: {
    item() {
      return this.initialValues ? this.initialValues : this.values;
    },
  },
};
</script>
