<template>
  <div>
    <h1>Show {{ item && item['@id'] }}</h1>

    <div v-if="loading" class="alert alert-info" role="status">Loading...</div>
    <div v-if="error" class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{ error }}</div>
    <div v-if="deleteError" class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{ deleteError }}</div>

    <div v-if="item" class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Field</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>url</td>
            <td>{{ item['url'] }}</td>
          </tr>
          <tr>
            <td>headline</td>
            <td>{{ item['headline'] }}</td>
          </tr>
          <tr>
            <td>accountablePerson</td>
            <td>{{ item['accountablePerson'] }}</td>
          </tr>
          <tr>
            <td>dateCreated</td>
            <td>{{ item['dateCreated'] }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <router-link v-if="item" :to="{ name: 'WebPageList' }" class="btn btn-default">Back to list</router-link>
    <button @click="deleteItem(item)" class="btn btn-danger">Delete</button>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  computed: mapGetters({
    deleteError: 'webpage/del/error',
    error: 'webpage/show/error',
    loading: 'webpage/show/loading',
    item: 'webpage/show/item',
  }),
  methods: {
    deleteItem(item) {
      if (window.confirm('Are you sure you want to delete this item?'))
        this.$store
          .dispatch('webpage/del/delete', item)
          .then(() => this.$router.push({ name: 'WebPageList' }));
    },
  },
  created() {
    this.$store.dispatch(
      'webpage/show/retrieve',
      decodeURIComponent(this.$route.params.id),
    );
  },
  beforeDestroy() {
    this.$store.dispatch('webpage/show/reset');
  },
};
</script>
