<template>
  <form @submit.prevent="handleSubmit(item)">
    <div :class="{ 'form-group': true, 'has-error': (errors && errors.articleBody) }">
      <label for="_articleBody" class="control-label">articleBody</label>
      <input v-model="item.articleBody" type="text"  placeholder="the actual body of the article"  id="_articleBody" class="form-control" />
      <span v-if="errors && errors.articleBody" class="help-block" id="_articleBody_helpBlock">{{ errors.articleBody }}</span>
    </div>
    <div :class="{ 'form-group': true, 'has-error': (errors && errors.accountablePerson) }">
      <label for="_accountablePerson" class="control-label">accountablePerson</label>
      <input v-model="item.accountablePerson" type="text"  placeholder="specifies the Person that is legally accountable for the CreativeWork"  id="_accountablePerson" class="form-control" />
      <span v-if="errors && errors.accountablePerson" class="help-block" id="_accountablePerson_helpBlock">{{ errors.accountablePerson }}</span>
    </div>
    <div :class="{ 'form-group': true, 'has-error': (errors && errors.dateCreated) }">
      <label for="_dateCreated" class="control-label">dateCreated</label>
      <input v-model="item.dateCreated" type="text"  placeholder="the date on which the CreativeWork was created or the item was added to a DataFeed" required="true" id="_dateCreated" class="form-control" />
      <span v-if="errors && errors.dateCreated" class="help-block" id="_dateCreated_helpBlock">{{ errors.dateCreated }}</span>
    </div>
    <div :class="{ 'form-group': true, 'has-error': (errors && errors.dateModified) }">
      <label for="_dateModified" class="control-label">dateModified</label>
      <input v-model="item.dateModified" type="text"  placeholder="the date on which the CreativeWork was most recently modified or when the item's entry was modified within a DataFeed"  id="_dateModified" class="form-control" />
      <span v-if="errors && errors.dateModified" class="help-block" id="_dateModified_helpBlock">{{ errors.dateModified }}</span>
    </div>
    <div :class="{ 'form-group': true, 'has-error': (errors && errors.headline) }">
      <label for="_headline" class="control-label">headline</label>
      <input v-model="item.headline" type="text"  placeholder="headline of the article" required="true" id="_headline" class="form-control" />
      <span v-if="errors && errors.headline" class="help-block" id="_headline_helpBlock">{{ errors.headline }}</span>
    </div>
    <div :class="{ 'form-group': true, 'has-error': (errors && errors.version) }">
      <label for="_version" class="control-label">version</label>
      <input v-model="item.version" type="number"  placeholder="the version of the CreativeWork embodied by a specified resource" required="true" id="_version" class="form-control" />
      <span v-if="errors && errors.version" class="help-block" id="_version_helpBlock">{{ errors.version }}</span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</template>

<script>
export default {
  props: {
    handleSubmit: {
      type: Function,
      required: true,
    },
    values: {
      type: Object,
      required: true,
    },
    errors: {
      type: Object,
    },
    initialValues: {
      type: Object,
    },
  },
  computed: {
    item() {
      return this.initialValues ? this.initialValues : this.values;
    },
  },
};
</script>
