<template>
  <div>
    <h1>Article List</h1>

    <div v-if="loading" class="alert alert-info">Loading...</div>
    <div v-if="deletedItem" class="alert alert-success">{{ deletedItem['@id'] }} deleted.</div>
    <div v-if="error" class="alert alert-danger">{{ error }}</div>

    <span v-if="view">
      <button
        type="button"
        class="btn btn-basic btn-sm"
        @click="getPage(view['hydra:first'])"
        :disabled="!view['hydra:previous']"
      >First</button>
      &nbsp;
      <button
        type="button"
        class="btn btn-basic btn-sm"
        @click="getPage(view['hydra:previous'])"
        :disabled="!view['hydra:previous']"
      >Previous</button>
      &nbsp;
      <button
        type="button" class="btn btn-basic btn-sm"
        @click="getPage(view['hydra:next'])"
        :disabled="!view['hydra:next']"
      >Next</button>
      &nbsp;
      <button
        type="button" class="btn btn-basic btn-sm"
        @click="getPage(view['hydra:last'])"
        :disabled="view['hydra:last']"
      >Last</button>
      &nbsp;
    </span>

    <div class="table-responsive">
        <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Id</th>
            <th>articleBody</th>
            <th>accountablePerson</th>
            <th>dateCreated</th>
            <th>dateModified</th>
            <th>headline</th>
            <th>version</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in items" :key="item['@id']">
            <td><router-link v-if="item" :to="{name: 'ArticleShow', params: { id: item['@id'] }}">{{ item['@id'] }}</router-link></td>
            <td><router-link v-if="item" :to="{name: 'ArticleShow', params: { id: item['@id'] }}">{{ item['articleBody'] }}</router-link></td>
            <td><router-link v-if="item" :to="{name: 'ArticleShow', params: { id: item['@id'] }}">{{ item['accountablePerson'] }}</router-link></td>
            <td><router-link v-if="item" :to="{name: 'ArticleShow', params: { id: item['@id'] }}">{{ item['dateCreated'] }}</router-link></td>
            <td><router-link v-if="item" :to="{name: 'ArticleShow', params: { id: item['@id'] }}">{{ item['dateModified'] }}</router-link></td>
            <td><router-link v-if="item" :to="{name: 'ArticleShow', params: { id: item['@id'] }}">{{ item['headline'] }}</router-link></td>
            <td><router-link v-if="item" :to="{name: 'ArticleShow', params: { id: item['@id'] }}">{{ item['version'] }}</router-link></td>
            <td>
              <router-link :to="{name: 'ArticleShow', params: { id: item['@id'] }}">
                <span class="glyphicon glyphicon-search" aria-hidden="true"/>
                <span class="sr-only">Show</span>
              </router-link>
            </td>
            <td>
              <router-link :to="{name: 'ArticleUpdate', params: { id: item['@id'] }}">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"/>
                <span class="sr-only">Edit</span>
              </router-link>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <router-link :to="{ name: 'ArticleCreate' }" class="btn btn-default">Create</router-link>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  computed: mapGetters({
    deletedItem: 'article/del/deleted',
    error: 'article/list/error',
    items: 'article/list/items',
    loading: 'article/list/loading',
    view: 'article/list/view',
  }),
  methods: mapActions({
    getPage: 'article/list/getItems',
  }),
  created() {
    this.$store.dispatch('article/list/getItems');
  },
};
</script>
